In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
temperatura = np.array([30, 25, 36, 18, 25, 29, 30, 33, 37, 31, 26, 37, 29, 26, 30, 31, 34, 38])

In [4]:
numero_sorvetes = np.array([20, 12, 50, 10, 18, 25, 26, 32, 48, 22, 16, 52, 24, 20, 28, 29, 35, 40])

In [5]:
df = pd.DataFrame({'temperatura': temperatura, 'numero_sorvetes': numero_sorvetes})

In [7]:
df.head()

   temperatura  numero_sorvetes
0           30               20
1           25               12
2           36               50
3           18               10
4           25               18

In [ ]:
dasdas